NET "led_output[0]" LOC = "U18";
NET "led_output[1]" LOC = "M14";
NET "led_output[2]" LOC = "N14";
NET "led_output[3]" LOC = "L14";
NET "led_output[4]" LOC = "M13";
NET "led_output[5]" LOC = "D4";
NET "led_output[6]" LOC = "P16";
NET "led_output[7]" LOC = "N12";

NET "uart_rx" LOC = "A16"; # IO_L66N_SCP0 (USBB-RXD)
NET "uart_output" LOC = "B16";

NET "clk" LOC = "L15" | IOSTANDARD=LVCMOS33; # IO_L42P_GCLK7_M1UDM (GCLK)
NET "clk" TNM_NET = "sys_clk_pin";
TIMESPEC "TS_sys_clk_pin" = PERIOD "sys_clk_pin" 100000 kHz;